<div class="container-fluid position-relative p-0">
<%= image_tag "top.jpg", class: "img-fluid w-100", alt: "京都" %>
  <div class="top-inner-text text-overlay position-absolute w-100 text-center">
    <h1>京タグ</h1>
    <h2>タグから始まる京都探訪</h2>
  </div>
</div>

<div class="container container-m">
  <div class="row">
    <div class="col-md-12">
      <h2>投稿やマップ、そしてタグから京都の魅力を探すことができます</h2>
      <button type="button" class="btn btn-success">詳しい使い方を見る</button>
    </div>
  </div>
</div>
<div class="container container-m">
  <div class="row">
    <div class="col-md-12">
      <h2>あなたの京都を</h2>
    </div>
    <div class="col-md-6">
      <%= link_to 'タグから探す', tags_path, class: "btn btn-primary w-100 mb-3" %>
    </div>
    <div class="col-md-6">
      <a href="map_search.html" class="btn btn-primary w-100 mb-3">mapから探す</a>
    </div>
  </div>
</div>
<div class="container container-m">
  <div class="row">
    <div class="col-md-12">
      <h2>新着投稿・タグ</h2>
    </div>
  </div>
</div>
