<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <a href="#" class="text-dark">利用規約</a>
      </div>
      <div class="col-12 col-md-4">
        <a href="#" class="text-dark">プライバシーポリシー</a>
      </div>
      <div class="col-12 col-md-4">
        <a href="#" class="text-dark">お問い合わせ</a>
      </div>
    </div>
  </div>
</footer>