<header>
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #cadbdf;">
    <div class="container-fluid">
    <%= link_to 'HOME', root_path, class: "navbar-brand"%>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">投稿作成</a>
          <%= link_to 'プロフィール', '#', class: 'dropdown-item' %>
          <%= link_to 'ログアウト', logout_path, class: 'dropdown-item', data: { turbo_method: :delete }, data: { turbo: false } %>
        </li>
      </ul>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">アプリの使い方</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">タグをみる</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">投稿をみる</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">スポットをみる</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>