<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @tags.present? %>
          <div class="col-auto d-flex flex-column" style="height: 200px;">
            <%= render @tags %>
          </div>
        <% else %>
          <div class="mb-3">タグがありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>